<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<description>史上最牛的短彩信平台</description>
	<display-name>利信通2.0</display-name>
	<context-param>
		<param-name>CharacterEncoding</param-name>
		<param-value>UTF-8</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
               /WEB-INF/classes/62/applicationContext-init.xml
        </param-value>
	</context-param>
	<listener>
		<listener-class>com.lxt2.common.base.BaseListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>BaseInit</servlet-name>
		<servlet-class>com.project.common.base.ProjectBaseInitSevlet</servlet-class>
		<init-param>
			<param-name>CharacterEncoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>SystemConfig</param-name>
			<param-value>systemconfig.properties</param-value>
		</init-param>
		<init-param>
			<param-name>NodecontextConfig</param-name>
			<param-value>/62/applicationContext-init.xml</param-value>
		</init-param>
		<init-param>
			<param-name>BllcontextConfig</param-name>
			<param-value>/62/web/bll/applicationContext_bll.xml</param-value>
		</init-param>
		<init-param>
			<param-name>BusinessConfigList</param-name>
			<param-value>/62/web/blf/business/sevlet_*.xml</param-value>
		</init-param>
		<init-param>
			<param-name>SystemConfigList</param-name>
			<param-value>/62/web/blf/system/sevlet_*.xml</param-value>
		</init-param>
		<init-param>
			<param-name>NodeConfigList</param-name>
			<param-value>/62/web/blf/node/sevlet_*.xml</param-value>
		</init-param>
		<init-param>
			<param-name>slf4j-init-file</param-name>
			<param-value>/62/logbackconfig.xml</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>BaseRedirectSevlet</servlet-name>
		<servlet-class>com.lxt2.common.base.BaseRedirectSevlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BaseRedirectSevlet</servlet-name>
		<url-pattern>*.ashx</url-pattern>
	</servlet-mapping>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
</web-app>
