<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- 系统监控 dal。 -->
	<bean id="TLSystemMonitorDAO" class="com.lxt2.systemapp.dal.monitor.TLSystemMonitorDAL"
		scope="prototype">
		<property name="queryAllProgram">
			<bean class="com.lxt2.common.common.model.SimpleSQL">
				<property name="sqlType">
					<value type="com.lxt2.common.common.model.SQLType">SQL</value>
				</property>
				
				<!-- 与网元关联的SQL -->
				<property name="theSQL"
					value=" SELECT A.NUMTASKID as NUMTASKID, 
					case when A.VC2TASKNAME = '' then C.VC2PROGRAMNAME  when A.VC2TASKNAME is null then C.VC2PROGRAMNAME else A.VC2TASKNAME end  as VC2TASKNAME , 
					'ready' as VC2OPTCOMMAND,E.vc2taskname as VC2NODENAME  								FROM TL_TASK A,
						       TL_PROGRAM C,
						       TL_PROGRAM_TYPE D,
						       (select t3.vc2value, t1.numtaskid AS NUMNODEID, t1.vc2taskname as vc2taskname
						          from tl_task t1, tl_task_opt t2, tl_task_opt_item t3
						         where t1.numtaskid = t2.numtaskid
						           and t2.numoptid = t3.numoptid
						           and t3.vc2key = 'MODULE_LIST') E
						 WHERE A.NUMPROGRAMID = C.NUMPROGRAMID
						   AND C.NUMTYPEID = D.NUMTYPEID
						   AND A.NUMTASKID = E.VC2VALUE
						   AND D.NUMTYPEID = {0}
						   AND E.NUMNODEID = {1}
						 ORDER BY A.VC2TASKNAME
							">
				</property>
			</bean>
		</property>
	</bean>

	<!-- 告警数据 dal。 -->
	<bean id="TlAlarmDataDAO" class="com.lxt2.systemapp.dal.monitor.TlAlarmDataDAL"
		scope="prototype">
		<property name="queryAlarmDataByState">
			<bean class="com.lxt2.common.common.model.SimpleSQL">
				<property name="sqlType">
					<value type="com.lxt2.common.common.model.SQLType">HQL</value>
				</property>
				<property name="theSQL"
					value="from TlAlarmData t where t.vc2alarmstate = '{0}'"></property>
			</bean>
		</property>
	</bean>

	<!-- 公式定义 dal。 -->
	<bean id="TlKpiDefDAO" class="com.lxt2.systemapp.dal.monitor.TlKpiDefDAL"
		scope="prototype">
		<property name="queryKPIDef">
			<bean class="com.lxt2.common.common.model.SimpleSQL">
				<property name="sqlType">
					<value type="com.lxt2.common.common.model.SQLType">HQL</value>
				</property>
				<property name="theSQL"
					value="from TlKpiDef t"></property>
			</bean>
		</property>
	</bean>
	
	<!-- 指标dal。 -->
	<bean id="TlKpiValueDAO" class="com.lxt2.systemapp.dal.monitor.TlKpiValueDAL"
		scope="prototype">
		<property name="queryKPIValue">
			<bean class="com.lxt2.common.common.model.SimpleSQL">
				<property name="sqlType">
					<value type="com.lxt2.common.common.model.SQLType">HQL</value>
				</property>
				<property name="theSQL"
					value="from TlKpiValue "></property>
			</bean>
		</property>
	</bean>
</beans> 