<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="YXTTlProductBLL" class="com.yxt.business.bll.product.YXTTlProductBLL"
			init-method="main" scope="prototype">
			<property name="iTlRoleBLL" ref="TlRoleBLL"></property>
			<property name="iTlProductBLL" ref="BusinessTlProductBLL"></property>
			<property name="iTlUsergroupYXTBLL" ref="tlUsergroupYxtBLL"></property>
			<property name="iTlUsergroupBLL" ref="TlUsergroupBLL"></property>
	</bean>
</beans>