<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">




	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>/62/web/oracle.properties</value>
				<value>/62/communicate/communicate.properties</value>
				<value>/62/communicate/mmsg.properties</value>
			</list>
		</property>
	</bean>

<import resource="communicate/common/dynamicload.xml" />
	<import resource="lxt_node.xml" />

	<!-- 业务管理服务 -->
	<import resource="web/task/business.xml" />
	<!-- 系统管理服务 -->
	<import resource="web/task/system.xml" />
	<import resource="communicate/common/mtp_opphase.xml" />
	<import resource="communicate/common/lxt_dbcp.xml" />
	<import resource="communicate/common/lxt_oracle.xml" />
	<import resource="communicate/common/hub.xml" />
	<import resource="communicate/common/lxt_clientinfo.xml" />
	<import resource="communicate/common/mts_common.xml" />
	<import resource="communicate/common/resource_center.xml" />
	<!-- begin -->
	<import resource="communicate/proxyservice/db/1062_ps_db_listenerfilters.xml" />
	<import resource="communicate/proxyservice/db/1062_ps_db_queue.xml" />
	<import resource="communicate/proxyservice/1062_cbip_db.xml" />
	<import resource="communicate/proxyservice/1062_mod.xml" />

	<import resource="communicate/mtprocess/mtp_specialmobile.xml" />
	<import resource="communicate/mtprocess/mtp_phase.xml" />
	<import resource="communicate/mtprocess/mtp_mod_1162.xml" />
	<import resource="communicate/mtprocess/mtp_1162.xml" />
	<import resource="communicate/mtprocess/mtp_router.xml" />
	<import resource="communicate/mtprocess/mtp_blacklist.xml" />
	<import resource="communicate/mtprocess/mtp_blacklist_gw.xml" />
	<import resource="communicate/mtprocess/mtp_blacklist_share.xml" />
	<import resource="communicate/mtprocess/mtp_blacklistMMS.xml" />
	<import resource="communicate/mtprocess/mtp_keyword.xml" />
	<import resource="communicate/mtprocess/mtp_keyword_gw.xml" />
	<import resource="communicate/proxyservice/ps_productverify.xml" />

	<import resource="communicate/rptprocess/rpt_mod_1362.xml" />
<!--	<import resource="communicate/clumped/Clumped_Mod_1562.xml" />
	<import resource="communicate/clumped/Systemconfig_Oper.xml" /> -->
	 <import resource="communicate/mclumped/Clumped_Mod_1562.xml" />
	<import resource="communicate/mclumped/Clumped_config_1562.xml" />


	<import resource="communicate/common/mime_context.xml" />
    <import resource="communicate/common/lxt_ecinfo.xml" />	
</beans>